{% extends 'base.html.twig' %}

{% block body_id '_index' %}

{% block stylesheets %}
  {{ parent() }}
  <script src="/js/purchase.js"></script>
{% endblock %}

{% block body_title %}
	<div class="row">
        <div class="col-sm-12">
        	<h1>{{ 'menu.purchase'|trans }}</h1>
        </div>
    </div>
{% endblock %}

{% block main %}

    <div>
    	<article class="box article-large">
            <h2>
                Page en construction.
            </h2>
            <div>
            	<div class="flex flex-center">
            		<div >{{ 'article.no_purchase'|trans }}</div>
            		<div><img class="center" src="{{ asset('images/svg/011-barricade.svg') }}" width="128" height="128" alt="Travaux" /></div>
            	</div>
            </div>
        </article>
    </div>

{% endblock %}

{% block sidebar %}


    {{ parent() }}

{% endblock %}
