{% extends 'base.html.twig' %}

{% block body_id '_index' %}

{% block stylesheets %}
  {{ parent() }}
  <script src="/js/purchase.js"></script>
  <link rel="stylesheet" href="/css/breadcrumbs.css"/>
{% endblock %}

{% block body_title %}
	<div class="row">
        <div class="col-sm-12">
        	<h1>{{ 'menu.purchase'|trans }}</h1>
        </div>
    </div>
{% endblock %}

{% block main %}

    <div class="box article-large">
		
		<nav>
			<ol class="cd-breadcrumb triangle custom-icons">
				<li><a href="{{ path('purchase_index') }}">{{ 'breadcrumb.purchase.step1'|trans }}</a></li>
				<li class="current"><em>{{ 'breadcrumb.purchase.step2'|trans }}</em></li>
				<li><em>{{ 'breadcrumb.purchase.step3'|trans }}</em></li>
				<li><em>{{ 'breadcrumb.purchase.step4'|trans }}</em></li>
			</ol>
		</nav>
	    
	    <h2>{{ 'title.purchase.step2'|trans }}</h2>
	    
		<div class="paragraph">
			{% include 'common/login_form.html.twig' %}
    	</div>
    		
    	<div class="separator">
    		<p>OU</p>
    	</div>
        
        <div class="paragraph">
        	{% include 'common/signin_form.html.twig' %}
        </div>
    </div>


{% endblock %}

{% block sidebar %}


    {{ parent() }}

{% endblock %}
