{% extends 'base.html.twig' %}

{% block body_id '_index' %}

    {% block main %}

        <h1>
            {% if app.request.attributes.get('_route') == 'product_category' %}
                {{ selectedCategory }}
            {% else %}
                {{ 'product.list'|trans }}
            {% endif %}
        </h1>
        <section>
            {% for product in products %}
                <article class="box product flex">
                    <div class="image">
                        {% if product.image %}
                            <img src="{{ product_prefix ~"/"~ product.image }}" alt="{{ product.name }}"/>
                        {% else %}
                            <img src="{{ product_prefix ~"/empty-product.png" }}" alt="Produit sans image"/>
                        {% endif %}
                    </div>
                    <div class="details">
                        <header class="flex">
                        <h2>{{ product.name }}</h2>
                          <div class="flex">
                              <div class="mesure">
                                  <div class="mesure-id">
                                      {{ 'Category' |trans }}
                                  </div>
                                  <div class="mesure-value">
                                      {{ product.category.name }}
                                  </div>
                              </div>
                               {% if product.packaging %}
	                              <div class="mesure">
	                                  <div class="mesure-id">
	                                      {{ 'Packaging' |trans }}
	                                  </div>
	                                  <div class="mesure-value">
	                                      {{ product.packaging}}
	                                  </div>
	                              </div>
                              {% endif %}
                              <div class="mesure">
                                  <div class="mesure-id">
                                      {{ 'Price' |trans }}
                                  </div>
                                  <div class="mesure-value">
                                      {{ product.price}} €
                                  </div>
                              </div>
                          </div>
                        </header>
                        <div>
                            <p>{{ product.description  | raw }}</p>
                        </div>
                    </div>
                </article>

            {% else %}
                <div class="well">{{ 'product.no_found'|trans }}</div>
            {% endfor %}
        </section>

        <div class="navigation text-center">
            {{ pagerfanta(products, 'twitter_bootstrap3_translated', { routeName: 'product_index_paginated' }) }}
        </div>
    {% endblock %}

    {% block sidebar %}
        <div class="box article-large">
            <h2>Catégories</h2>
            {% for category in categories %}
                <h3>
                    <a href="{{ path('product_category', { cid: category.id }) }}">{{ category.name }}</a>
                </h3>
            {% endfor %}
        </div>
        {{ parent() }}

    {% endblock %}
