{% extends 'base.html.twig' %}

{% block body_id '_index' %}

    {% block main %}

        <h1>
            {% if app.request.attributes.get('_route') == 'product_category' %}
                {{ selectedCategory }}
            {% else %}
                {{ 'product.list'|trans }}
            {% endif %}
        </h1>
        <section>
            {% for product in products %}
                <article class="box product flex">
                    <div class="image">
                        {% if product.image %}
                            <img src="{{ product_prefix ~"/"~ product.image }}" alt="{{ product.name }}"/>
                        {% else %}
                            <img src="{{ product_prefix ~"/empty-product.png" }}" alt="Produit sans image"/>
                        {% endif %}
                    </div>
                    <div class="details">
                        <header class="flex">
                        <h2>{{ product.name }}</h2>
                          <div class="flex">
                              <div class="mesure">
                                  <div class="mesure-id">
                                      {{ 'Category' |trans }}
                                  </div>
                                  <div class="mesure-value">
                                      {{ product.category.name }}
                                  </div>
                              </div>
                              <div class="mesure">
                                  <div class="mesure-id">
                                      {{ 'Weight' |trans }}
                                  </div>
                                  <div class="mesure-value">
                                      {{ product.weight}} {{ product.measurement.shortname}}
                                  </div>
                              </div>
                              <div class="mesure">
                                  <div class="mesure-id">
                                      {{ 'Price' |trans }}
                                  </div>
                                  <div class="mesure-value">
                                      {{ product.price}} €
                                  </div>
                              </div>
                          </div>
                        </header>
                        <div>
                            {% if product.quantity > 0 %}
                                <span class="label label-success">{{ 'product.available'|trans }}</span>
                            {% else %}
                                <span class="label label-danger">{{ 'product.out_of_stock'|trans }}</span>
                            {% endif %}
                            <br/>
                        </div>
                        <div>
                            <p>{{ product.description }}</p>
                        </div>
                        <a href="#" class="btn btn-primary btn-block">Search</a>
                    </div>
                </article>

            {% else %}
                <div class="well">{{ 'product.no_found'|trans }}</div>
            {% endfor %}
        </section>

        <div class="navigation text-center">
            {{ pagerfanta(products, 'twitter_bootstrap3_translated', { routeName: 'product_index_paginated' }) }}
        </div>
    {% endblock %}

    {% block sidebar %}
        <ul class="list_style_none">
            {% for category in categories %}
                <li>
                    <a href="{{ path('product_category', { cid: category.id }) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>

        {{ parent() }}

    {% endblock %}
