{% extends 'base.html.twig' %}

{% block body_id '_index' %}

{% block body_title %}
	<div class="row">
        <div class="col-sm-12">
        	{% if selectedCategory %}
        		<h1>{{ 'product.list_end'|trans ~ " " ~ selectedCategory|lower ~ "s"}}</h1>
        	{% else %}
            	<h1>{{ 'product.list'|trans }}</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block main %}

    <section>
        {% for product in products %}
            <article class="box product flex">
                <div class="image">
                    {% if product.image %}
                        <img class="photo" src="{{ product_prefix ~"/"~ product.image }}" alt="{{ product.name }}"/>
                    {% else %}
                        <img class="photo" src="{{ product_prefix ~"/empty-product.png" }}" alt="Produit sans image"/>
                    {% endif %}
                </div>
                <div class="details">
                
                	<h2>{{ product.name }}</h2>
                    <header class="flex">
                    	{# Caracteristics of product #}
                      	<div class="flex">
                          	{% if product.category.name %}
	                          	<div class="mesure">
	                              	<div class="mesure-id">
	                              		<img class="center" src="{{ asset('images/svg/001-shopping-1.svg') }}" width="32" height="32" alt="Catégorie" />
	                                  	{{ 'Category' |trans }}
	                              	</div>
	                              	<div class="mesure-value">
	                                  	{{ product.category.name }}
	                              	</div>
	                          	</div>
                          	{% endif %}
                           	{% if product.packaging %}
                              	<div class="mesure">
                                  	<div class="mesure-id">
                                  		<img class="center" src="{{ asset('images/svg/003-business.svg') }}" width="32" height="32" alt="Conditionnement" />
                                      	{{ 'Packaging' |trans }}
                                  	</div>
                                  	<div class="mesure-value">
                                      	{{ product.packaging}}
                                  	</div>
                              	</div>
                          	{% endif %}
                          	{% if product.price %}
                          		<div class="mesure">
                              		<div class="mesure-id">
                              			<img class="center" src="{{ asset('images/svg/004-coins.svg') }}" width="32" height="32" alt="Prix" />
                                  		{{ 'Price' |trans }}
                              		</div>
                              		<div class="mesure-value">
                                  		{{ product.price }} €
                              		</div>
                          		</div>
                      		{% endif %}
                      		{% if product.refundable and  product.refundable > 0 %}
                          		<div class="mesure">
                              		<div class="mesure-id">
                              			<img class="center" src="{{ asset('images/svg/006-get-money.svg') }}" width="32" height="32" alt="Consigne" />
                                  		{{ 'Refundable' |trans }}
                              		</div>
                              		<div class="mesure-value">
                                  		{{ product.refundable }} €
                              		</div>
                          		</div>
                      		{% endif %}
                      	</div>
                    </header>
                    
                    {# Complete description of product #}
                    <div>{{ product.description  | raw }}</div>
                </div>
            </article>

        {% else %}
        	<article class="box article-large">
                <div>
                	<div class="flex flex-center">
                		<div >{{ 'product.no_found'|trans }}</div>
                		<div><img class="center" src="{{ asset('images/svg/007-groceries.svg') }}" width="128" height="128" alt="Groceries" /> </div>
                	</div>
                </div>
            </article>
        {% endfor %}
    </section>

    <div class="navigation text-center">
        {{ pagerfanta(products, 'twitter_bootstrap3_translated', { routeName: 'product_index' }) }}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="box article-large">
    
        <img src="{{ asset('images/svg/007-groceries.svg') }}" width="32" height="32" alt="Categories" /><h2 class="title-inline">Catégories</h2>
        <ul id="list-category">
        
        {% for category in categories %}
        	<li><a href=" {{ path('product_index', {'categorie':category.id}) }} ">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {{ parent() }}

{% endblock %}
