{% extends 'base.html.twig' %}

{% block body_id '_index' %}

{% block body_title %}
	<div class="row">
        <div class="col-sm-12">
        	<h1>{{ 'account.title'|trans }}</h1>
        </div>
    </div>
{% endblock %}


{% block main %}

	<p><a href="{{ path('user_account') }}">{{ 'account.user.title'|trans }}</a> | <a href="{{ path('user_purchase') }}">{{ 'account.purchase.title'|trans }}</a></p>

	<h2>{{ 'account.user.title'|trans }}</h2>
	
	<article class="box article-large">
	
		<p>{{ 'account.lastname'|trans }} : {{ user.lastname }}</p>
		<p>{{ 'account.firstname'|trans }} : {{ user.firstname }}</p>
		<p>{{ 'account.cellphone'|trans }} : {{ user.cellphone }}</p>
		<p>{{ 'account.email'|trans }} : {{ user.email }}</p>
		
		<button type="submit" class="btn btn-primary">
			<i class="fa fa-sign-in"></i> {{ 'account.change_password'|trans }}
		</button>
	</article>

{% endblock %}

{% block sidebar %}

    {{ parent() }}
    
{% endblock %}
