{% extends 'base.html.twig' %}

{% block body_id '_index' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/breadcrumbs.css"/>
{% endblock %}

{% block body_title %}
	<div class="row">
        <div class="col-sm-12">
        	<h1>{{ 'account.title'|trans }}</h1>
        </div>
    </div>
{% endblock %}


{% block main %}

	<article class="box article-large">

		<nav>
			<ol class="cd-breadcrumb">
				<li class="current"><a href="{{ path('user_account') }}">{{ 'account.user.title'|trans }}</a></li>
				<li><a href="{{ path('user_purchase') }}">{{ 'account.purchase.title'|trans }}</a></li>
			</ol>
		</nav>
		
		<p>{{ 'Lastname'|trans }} : {{ user.lastname }}</p>
		<p>{{ 'Firstname'|trans }} : {{ user.firstname }}</p>
		<p>{{ 'Telephone'|trans }} : {{ user.cellphone }}</p>
		<p>{{ 'Email'|trans }} : {{ user.username }}</p>
		
		<button type="submit" class="btn btn-primary">
			<i class="fa fa-sign-in"></i> {{ 'account.change_password'|trans }}
		</button>
	</article>

{% endblock %}

{% block sidebar %}

    {{ parent() }}
    
{% endblock %}
