{% extends 'base.html.twig' %}

{% block body_id '_index' %}

{% block body_title %}
	<div class="row">
        <div class="col-sm-12">
        	<h1>{{ 'account.title'|trans }}</h1>
        </div>
    </div>
{% endblock %}


{% block main %}
	
	<article class="box article-large">
	
	<p><a href="{{ path('user_account') }}">{{ 'account.user.title'|trans }}</a> | <a href="{{ path('user_purchase') }}">{{ 'account.purchase.title'|trans }}</a></p>
    
    {% if purchases|length > 0 %}
    
            
        <div class="paragraph">
			<table>
				<tr class="header"><th>N° de commande</th><th>Date de création</th><th>Date de réception</th><th>Nb de produits</th><th>Commentaire</th></tr>

		{% for purchase in purchases %}
		
			<tr class="purchase-list">
	            <td class="center">{{ purchase.id }}</td>
				<td class="center">{{ purchase.createdAt|date('d/m/Y') }}</td>
				<td class="center">{{ purchase.deliveryDate|date('d/m/Y') }}</td>
				<td class="center">{{ purchase.items|length }}</td>
				<td class="center">{{ purchase.comment }}</td>
			</tr>
			
		{% endfor %}
	
    		</table>
    	</div>         
        
    
    {% else %}
        <div>
        	<div class="flex flex-center">
        		<div >{{ 'account.purchase.no_purchase'|trans }}</div>
        		<div><img class="center" src="{{ asset('images/svg/009-notes.svg') }}" width="128" height="128" alt="Note" /> </div>
        	</div>
        </div>

    {% endif %}
    
    </article>
    

{% endblock %}

{% block sidebar %}

    {{ parent() }}
    
{% endblock %}
