<div class="box article-large">
<h2>Horaires</h2>

{% if schedule %}
<ul class="list_style_none">
  <li>
    {{ 'Monday' | trans }} :
    {% if schedule.monday %}
      <span class="{% if schedule.monday == "Fermé" %}day_red{%endif%}">{{ schedule.monday }}</span>
    {% else %}
      {{ 'NotDefined' | trans }}
    {% endif %}
  </li>
  <li>
    {{ 'Tuesday' | trans }} :
    {% if schedule.tuesday %}
      <span class="{% if schedule.tuesday == "Fermé" %}day_red{%endif%}">{{ schedule.tuesday }}</span>
    {% else %}
      {{ 'NotDefined' | trans }}
    {% endif %}
  </li>
  <li>
    {{ 'Wednesday' | trans }} :
    {% if schedule.wednesday %}
      <span class="{% if schedule.wednesday == "Fermé" %}day_red{%endif%}">{{ schedule.wednesday }}</span>
    {% else %}
      {{ 'NotDefined' | trans }}
    {% endif %}
  </li>
  <li>
    {{ 'Thursday' | trans }} :
    {% if schedule.thursday %}
      <span class="{% if schedule.thursday == "Fermé" %}day_red{%endif%}">{{ schedule.thursday }}</span>
    {% else %}
      {{ 'NotDefined' | trans }}
    {% endif %}
  </li>
  <li>
    {{ 'Friday' | trans }} :
    {% if schedule.friday %}
      <span class="{% if schedule.friday == "Fermé" %}day_red{%endif%}">{{ schedule.friday }}</span>
    {% else %}
      {{ 'NotDefined' | trans }}
    {% endif %}
  </li>
  <li>
    {{ 'Saturday' | trans }} :
    {% if schedule.saturday %}
      <span class="{% if schedule.saturday == "Fermé" %}day_red{%endif%}">{{ schedule.saturday }}</span>
    {% else %}
      {{ 'NotDefined' | trans }}
    {% endif %}
  </li>
  <li>
    {{ 'Sunday' | trans }} :
    {% if schedule.sunday %}
      <span class="{% if schedule.sunday == "Fermé" %}day_red{%endif%}">{{ schedule.sunday }}</span>
    {% else %}
      {{ 'NotDefined' | trans }}
    {% endif %}
  </li>
</ul>
</div>
{% else %}
  <div class="well">{{ 'schedule.no_found'|trans }}</div>
{% endif %}