{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/bundles/leaflet/leaflet.css">
  <script src="/bundles/leaflet/leaflet.js"></script>
{% endblock %}



{% block body_id 'blog_post_show' %}

{% block body_title %}
	<div class="row">
        <div id="main" class="col-sm-12">
            <h1>{{ enterpriseDetails.name }}</h1>
        </div>
    </div>
{% endblock %}

{% block main %}

    {% if enterpriseDetails %}
    <article class="box article-large">

        <h2>Contact</h2>

        <ul class="fa-ul">
          <li>
            <i class="fa-li fa fa-phone" aria-hidden="true"></i> Téléphone :
            {% if enterpriseDetails.telephone %}
              {{ enterpriseDetails.telephone }}
            {% else %}
              {{ 'NotDefined' | trans }}
            {% endif %}
          </li>
          <li>
            <i class="fa-li fa fa-at" aria-hidden="true"></i> Email :
            {% if enterpriseDetails.email %}
              {{ enterpriseDetails.email }}
            {% else %}
              {{ 'NotDefined' | trans }}
            {% endif %}
          </li>
          <li>
            <i class="fa-li fa fa-fax" aria-hidden="true"></i> Fax :
            {% if enterpriseDetails.fax %}
              {{ enterpriseDetails.fax }}
            {% else %}
              {{ 'NotDefined' | trans }}
            {% endif %}
          </li>
          <li>
            <i class="fa-li fa fa-home" aria-hidden="true"></i> Adresse :
            {{ enterpriseDetails.address }} - {{ enterpriseDetails.codePostal }} {{ enterpriseDetails.city }}
          </li>
        </ul>
        </article>



        {% if geographicsCoordinates %}

        <article class="box article-large">
        <h2>Position géographique</h2>

        <div id="mapid" style="width: 800px; height: 300px;"></div>
        <script>
          var mymap = L.map('mapid').setView([{{geographicsCoordinates[0].latitude}},{{geographicsCoordinates[0].longitude}}], 13);

          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoicGZyYW5jb2lzIiwiYSI6ImNpdXpzNjI0czAwYXEzM3A3a25lYTg4bm0ifQ.DC5yUxTcEPwq6IqHdLt1-Q', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery ɠ<a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets'
          }).addTo(mymap);

          {% for geographicCoordinates in geographicsCoordinates %}
              L.marker([{{geographicCoordinates.latitude}},{{geographicCoordinates.longitude}}]).addTo(mymap)
                .bindPopup('{{ geographicCoordinates.name }}')
                .openPopup();
          {% endfor %}

        </script>

        </article>
        {%endif%}


    {% else %}
      <div class="well">{{ 'enterprise_details.no_found'|trans }}</div>
    {% endif %}



{% endblock %}

{% block sidebar %}

    <div class="box article-large">
    <h2>Horaires</h2>

    {% if schedule %}
    <ul class="list_style_none">
      <li>
        {{ 'monday' | trans }} :
        {% if schedule.monday %}
          <span class="{% if schedule.monday == "Fermé" %}day_red{%endif%}">{{ schedule.monday }}</span>
        {% else %}
          {{ 'NotDefined' | trans }}
        {% endif %}
      </li>
      <li>
        {{ 'tuesday' | trans }} :
        {% if schedule.tuesday %}
          <span class="{% if schedule.tuesday == "Fermé" %}day_red{%endif%}">{{ schedule.tuesday }}</span>
        {% else %}
          {{ 'NotDefined' | trans }}
        {% endif %}
      </li>
      <li>
        {{ 'wednesday' | trans }} :
        {% if schedule.wednesday %}
          <span class="{% if schedule.wednesday == "Fermé" %}day_red{%endif%}">{{ schedule.wednesday }}</span>
        {% else %}
          {{ 'NotDefined' | trans }}
        {% endif %}
      </li>
      <li>
        {{ 'thursday' | trans }} :
        {% if schedule.thursday %}
          <span class="{% if schedule.thursday == "Fermé" %}day_red{%endif%}">{{ schedule.thursday }}</span>
        {% else %}
          {{ 'NotDefined' | trans }}
        {% endif %}
      </li>
      <li>
        {{ 'friday' | trans }} :
        {% if schedule.friday %}
          <span class="{% if schedule.friday == "Fermé" %}day_red{%endif%}">{{ schedule.friday }}</span>
        {% else %}
          {{ 'NotDefined' | trans }}
        {% endif %}
      </li>
      <li>
        {{ 'saturday' | trans }} :
        {% if schedule.saturday %}
          <span class="{% if schedule.saturday == "Fermé" %}day_red{%endif%}">{{ schedule.saturday }}</span>
        {% else %}
          {{ 'NotDefined' | trans }}
        {% endif %}
      </li>
      <li>
        {{ 'sunday' | trans }} :
        {% if schedule.sunday %}
          <span class="{% if schedule.sunday == "Fermé" %}day_red{%endif%}">{{ schedule.sunday }}</span>
        {% else %}
          {{ 'NotDefined' | trans }}
        {% endif %}
      </li>
    </ul>
    </div>
    {% else %}
      <div class="well">{{ 'schedule.no_found'|trans }}</div>
    {% endif %}

{% endblock %}
