{% extends 'base.html.twig' %}

{% block body_id '_index' %}

{% block main %}

    <div>
        {% for article in articles %}
            <article class="box article-large">
                <h2>
                    {{ article.title }}
                </h2>
                <div>
                  {{article.contains | raw }}
                </div>

            </article>

        {% else %}
            <article class="box article-large">
                <h2>
                    Pas d'information.
                </h2>
                <div>
                	<div class="flex flex-center">
                		<div >{{ 'article.no_enterprise'|trans }}</div>
                		<div><img class="center" src="{{ asset('images/svg/010-curriculum.svg') }}" width="128" height="128" alt="Curriculum" /> </div>
                	</div>
                </div>

            </article>
        {% endfor %}
    </div>

{% endblock %}

{% block sidebar %}

    {{ parent() }}

{% endblock %}
