{% extends 'base.html.twig' %}

{% block body_id '_index' %}

{% block body_title %}
	<div class="row">
        <div class="col-sm-12">
        	<h1>{{ 'menu.homepage.title'|trans }}</h1>
        </div>
    </div>
{% endblock %}


{% block main %}

    <div>
        {% for article in articles %}
            <article class="box article-large">
                <h2>
                    {{ article.title }}
                </h2>
                <div>
                  {{article.contains | raw }}
                </div>

            </article>

        {% else %}
        	<article class="box article-large">
                <h2>
                    Pas d'information.
                </h2>
                <div>
                	<div class="flex flex-center">
                		<div >{{ 'article.no_found'|trans }}</div>
                		<div><img class="center" src="{{ asset('images/svg/009-notes.svg') }}" width="128" height="128" alt="Note" /> </div>
                	</div>
                </div>

            </article>
        {% endfor %}
    </div>

    <div class="navigation text-center">
        {{ pagerfanta(articles, 'twitter_bootstrap3_translated', { routeName: 'article_index' }) }}
    </div>
{% endblock %}

{% block sidebar %}

	{{ render_esi(controller('AppBundle:Enterprise:Schedule', {
        'sharedAge': 600,
        '_locale': app.request.locale
    })) }}
    
    {{ parent() }}
    
{% endblock %}
