<h1>{{ 'title.purchase.email.enterprise'|trans }} : {{ purchase.id }}</h1>

<h2>{{ 'Buyer'|trans }}</h2>

<ul>
	<li>{{ 'Lastname'|trans }} : {{ purchase.buyer.lastname }}</li>
	<li>{{ 'Firstname'|trans }} : {{ purchase.buyer.firstname }}</li>
	<li>{{ 'Email'|trans }} : {{ purchase.buyer.email }}</li>
	<li>{{ 'Telephone'|trans }} : {{ purchase.buyer.cellphone }}</li>
</ul>

<h3>{{ 'title.purchase.step3.date'|trans }}</h3>

<div class="paragraph">
	<p>{{ 'title.purchase.step3.date.message'|trans }} : {{ purchase.deliveryDateFormated }}</p>
</div>

<h3>{{ 'title.purchase.step3.products'|trans }}</h3>
	
<div class="paragraph">
	<table>
		<tr class="header"><th>&nbsp;</th><th>&nbsp;</th><th>Prix</th><th>Quantité</th><th>Montant</th></tr>
	    {% for purchaseItem in purchase.items %}
	    	<tr class="purchase-list">
				<td>
				{% if purchaseItem.product.image %}
	                <img class="photo" src="{{ product_prefix ~"/"~ purchaseItem.product.image }}" alt="{{ purchaseItem.product.name }}" height="42" width="42" />
	            {% else %}
	                <img class="photo" src="{{ product_prefix ~"/empty-product.png" }}" alt="Produit sans image" height="42" width="42" />
	            {% endif %}
	            </td>
	            <td>{{ purchaseItem.product.name }} ({{ purchaseItem.product.packaging}})</td>
				<td class="center">{{ purchaseItem.product.price }} €</td>
				<td class="center">{{ purchaseItem.quantity }}</td>
				<td class="center">{{ purchaseItem.price }} €</td>
			</tr>
	    {% endfor %}
		<tr id="tr-total">
			<td colspan="3">&nbsp;</td>
			<td class="center"><b>Total</b></td>
			<td class="center" id="td-total">{{ total }} €</td>
		</tr>
	</table>
</div>

<h3>{{ 'title.purchase.email.remark'|trans }}</h3>

<div class="paragraph">
	<p>{{ purchase.comment }}</p>
</div>

<div class="paragraph">
{{ 'title.purchase.step4.signature'|trans }}
</div>